body {
    overflow-x: hidden;
    background-color: #111;
}

.logo {
    width: 125px;
    padding: 20px;
}

.avatar-logo {
    width: 75px;
    padding: 20px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navBlack {
    background-color: #111;
}

.searchInput {
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 1s;
    opacity: 0;
}

.banner {
    background-image: url('images/Squidgame.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 700px;
}

.img_Large {
    width: 300px;
    height: 300px;
    padding: 0.5rem;
    padding-left: 1rem;
    transition: transform 500ms;
    border-radius: 0.7rem;
}

.img_Large:focus,
.img_Large:hover {
    transform: scale(1.1);
    z-index: 1;
}

.img_Small {
    width: 500px;
    height: 200px;
    padding: 1rem;
    padding-left: 5px;
    transition: transform 500ms;
    border-radius: 0.7rem;

}

.img_Small:focus,
.img_Small:hover {
    transform: scale(1.1);
    z-index: 1;
}

h2 {
    padding-top: 3rem;
    padding-left: 1rem;
    color: white;
}

/* Icon Style */
.fa-magnifying-glass {
    position: absolute;
    color: #111;
    font-size: 1.5rem;
    top: 2rem;
    right: 5.7rem;
}

input[type=text] {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 250px;
}