body {
    overflow-x: hidden;
    background-color: #111;
}

.logo {
    width: 125px;
    padding: 20px;
}

.avatar-logo {
    width: 75px;
    padding: 20px;
    border-radius: 1.5rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navBlack {
    background-color: #111;
}

.searchInput {
    width: 12rem;
    height: 2rem;
    border-radius: 10rem;
    border: 0.2rem solid #fff;
}


.banner {
    background-image: url('images/Squidgame.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 800px;
    box-shadow: 50px 50px 50px 50px black;

}


.img_Large {
    width: 230px;
    height: 300px;
    /* padding: 0.5rem; */
    padding-top: 25px;
    padding-left: 1rem;
    transition: transform 500ms;
    border-radius: 15px;
}

.img_Large:focus,
.img_Large:hover {
    transform: scale(1.1);
    z-index: 1;
}

.img_Small {
    width: 500px;
    height: 200px;
    padding: 1rem;
    padding-left: 5px;
    transition: transform 500ms;
    border-radius: 20px;
}

.img_Small:focus,
.img_Small:hover {
    transform: scale(1.1);
    z-index: 1;
}

h2 {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 10px;
    color: white;
}


.btn.btn-primary.staticBackdrop,
.btn.btn-danger.deleteBackdrop {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}


#navbarDropdownMenuLink {
    color: #fff;
}

#actionMethod {
    padding-top: 2px;
    color: white;
}

#searchCategory {
    width: 10.5rem;
    height: 2.5rem;
    border-radius: 10rem;
}

.delete-item {
    color: #c98484;
    position: absolute;
    right: 50%;
    top: -15px;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.delete-item:hover {
    color: #fff;
}

#forIcon {
    position: relative;
}